<%# <div class="detail"> %>

 <div class="num">
 <% @user.each do |user| %>
 　社員番号：　
  <%= user.num %>
 <% end %>
 </div>
 <div class="name">
 <% @user.each do |user|%>
 　　　氏名：　
  <%= user.last_name + user.first_name %>
 <% end %>
 </div>
 <div class="kana">
 <% @user.each do |user| %>
 　カナ氏名：　
  <%= user.kana %>
 <% end %>
 </div>
 <div class="position">
 <% @user.each do |user| %>
 　　　役職：　
  <%= user.position %>
 <% end %>
 </div>
 <div class="extension">
  　内線番号:　　
  <% @naisen_num.each do |ex|%>

  <%= ex.naisen %>
 <% end %>
 </div>
 <%# <%= form_with model: [@bbb, @naisen], class: 'form', local: true do |f| %>
 <%# <div class="extension"> %>
 <%# 　内線番号：　 %>
    <%# <%= f.text_field :naisen, class: 'form-message', placeholder: 'type a message' %> 
  <%# </div> %> 

 <div class="button">
 <% @user.each do |user| %>
<%= link_to '　　編集　　', user_naisens_path(com_code: user.code, user_id: user.id) %>
<% end %>
</div>
<%# </div> %>


