<%# <%= render partial: "main" %> 


<div class="user">
  <%# <div class="aaa">
  <% @aaa.each do |a| %>
   <%# <%= a.kana %>
  <%# <% end %> 
  <%# </div> %> 
  <div class="name">
＜氏名＞
  <% @users.each do |user| %>
  <ul>
    <li>
       <%= link_to user.last_name + user.first_name, controller: "belongs", action: "index", com_code: user.code, user_id: user.id %>
    </li>
   </ul>
  <% end %>
  </div>
  <div class="kana" >
  ＜カナ氏名＞
  <% @users.each do |user| %>
   <ul>
    <li>
     <%= user.kana %>
    </li> 
   </ul>
  <% end %>
  </div> 
  <div class="num">
  ＜社員番号＞
  <% @users.each do |user| %>
   <ul>
    <li>
     <%= user.num %>
    </li>
   </ul>
  <% end %>
  </div>
  <div class="position">
  ＜役職＞
  <% @users.each do |user| %>
   <ul>
    <li>
     <%= user.position %>
    </li>
   </ul>
  <% end %>
  </div>
  <div class="extension">
  ＜内線番号＞
   <ul>
    <li>
     内線番号
    </li>
   </ul>
  </div>
 <%# <% end %> 
</div>
