<div class="left1">

  <% @com.each do |com| %>
   <div class="company">
    <ul>
     <li>
      <%# <% if com.company.present? %> 
       <%# <%= link_to com.company, users_path(com_code: com.code)%> 
       <%= link_to com.company, controller: "users", action: "index", com_code: com.code%>
      <%# <% end %>  
      <% @gro.each do |gro| %>
       <div class="group">
        <ul>
         <li>
          <% if com.company == gro.company %> 
           <% if gro.group.present? %> 
            <%= link_to gro.group, controller: "users", action: "index", com_code: gro.code  %>
           <% end %> 
           <% @dep.each do |dep| %>
            <div class="depertment">
             <ul>
              <li>
              <% if com.company == dep.company && gro.group == dep.group %>
                <% if dep.depertment.present? %>
                 <%= link_to dep.depertment, controller: "users", action: "index", com_code: dep.code  %>
                <% end %>
                <% @sec.each do |sec| %>
                 <div class="section">
                  <ul>
                   <li>
                   <% if com.company == sec.company && gro.group == sec.group && dep.depertment == sec.depertment %>
                     <% if sec.section.present? %>
                      <%= link_to sec.section, controller: "users", action: "index", com_code: sec.code  %>
                     <% end %>
                     <% @unit.each do |unit| %>
                      <div class="unit">
                       <ul>
                        <li>
                        <% if com.company == unit.company && gro.group == unit.group && dep.depertment == unit.depertment && sec.section == unit.section %>
                          <% if unit.unit.present? %>
                           <%= link_to unit.unit, controller: "users", action: "index", com_code: unit.code  %>
                          <% end %>
                        <% end %>
                        </li>
                       </ul>
                      </div>
                     <% end %>
                   <% end %>
                   </li>
                  </ul>
                 </div>
                <% end %>
              <% end %> 
              </li>
             </ul>
            </div>
           <% end %> 
          <% end %> 
         </li>
        </ul>
       </div>
      <% end %> 
     </li>
    </ul>
   </div>
  <% end %>
</div> 